.experiencia {
  max-width: 75rem; /* tamanho máximo que o herder pode crescer */
  padding: 2.5rem 2.25rem;
  margin: 0 auto; /* técnica para centralizar o header ao meio */
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;
}

/* Define a cor dp texto para o subtitulo da secao de experiencia */
.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch; /* Não passa de 40 caracteres por linha */
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient();
}

.empresa-ano {
  position: absolute;
  top: 20px;
  left: -100px;
  color: #525252;
  font-size: 0.875rem;
}
