.formacao {
  background: #141414;
  color: #ffffff;
}

.formacao-container {
  max-width: 75rem; /* tamanho máximo que o herder pode crescer */
  padding: 7.5rem 2.25rem;
  margin: 0 auto; /* técnica para centralizar o header ao meio */
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;
  position: relative;
}

.formacao-container::after {
  content: "";
  display: block;
  width: 8.125rem;
  height: 6.25rem;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute; /* Quando definido, seu padding será do tamanho do seu conteudo */
  bottom: -3.125rem;
  left: 1.25rem;
}

.formacao .subtitulo {
  color: #000000;
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch; /* Não passa de 40 caracteres por linha */
  margin-bottom: 3.75rem;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 3.75rem;
}

.faculdade {
  flex: 1;
  background: #000000;
  padding: 1.25rem;
  border-radius: 0.25rem;
  display: flex; /* Aplicado para o span que é filho virar um item de nivel bloco flexivel respeitando todas as direcioes */
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 0.625rem;
}

.faculdade-curso {
  font-size: 1.125rem;
  line-height: 1.2;
  margin-bottom: 2.5rem;
  position: relative;
  flex: 1; /* Aplicado flex 1 para que todos os itens crescam e fiquem iguais o tamanho */
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 0.25rem;
  height: 1.25rem;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute; /* Quando definido, seu padding será do tamanho do seu conteudo */
  left: -1.5rem;
}

.faculdade-instituicao {
  font-size: 1.125em;
  color: #a3a3a3;
}

.cursos {
  margin-bottom: 3.75rem;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #f8f8f8;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  position: relative;
}

.formacao-extra h3::before {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: -2.25rem;
  top: -0.25rem;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 1.25rem;
}

.formacao-extra span {
  color: #8f8f8f;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 50rem) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 3.75rem 1.25rem;
    gap: 2.5rem;
  }

  .formacao .subtitulo {
    color: #ffffff;
  }

  .formacao-texto {
    font-size: 1.25rem;
  }

  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 0.625rem;
  }
}
